.blogpost1 {
    font-size: 20px;
    color: blue;
    background-color: #bbb;
}

.blogpost2 {
    font-size: 20px;
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}

.date {
  color: green;
  font-style: italic;
}

.about {
    font-style: italic;
}
